body
{
	background: url(school1.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}  
   #frm{
	   border:solid gray 1px;
	   width: 20%;
	   border-radius: 5px;
	   margin: 100px auto;
	   background: #FAEBD7;
	   padding:50px;
		}
   #btn{
        color: #00FFF !important;
		background: #337ab37;
		padding: 5px;
		margin-left: 69%;
		}
    #btnb{
        color: #00FFF !important;
		background: #337ab37;
		padding: 5px;
		margin-left: 0%;
		}
	#btnt{
        height: 100px;
		width: 100px;
		}
  
	#frm1{
	    border:solid gray 1px;
		width: 30%;
		border-radius: 5px;
		margin: 100px auto;
		background: #FAEBD7;
		padding:50px;
		}
