body
{
	background: url(library.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}  
   #frm{
	   border:solid gray 1px;
	   width: 10%;
	   border-radius: 1px;
	   margin: 280px auto;
	   background: #FAEBD7;
	   padding:20px;
		}