body
{
	background: url(school.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}  
   #frm{
	   border:solid gray 1px;
	   width: 20%;
	   border-radius: 5px;
	   margin: 100px auto;
	   background: #FAEBD7;
	   padding:50px;
		}